{% extends 'base.html' %}

{% block title %}Frontend{% endblock %}

{% block content %}
  {% for event in events %}
    <div class="event">
      <div class="event__summary">
        <a href="{{ event.url }}" target="_blank">
          {{ event.title }}
        </a>
      </div>
      <div class="event__location">{{ event.location }}</div>
      <div class="event__dates">
            с {{ event.startDate|format_datetime }} по {{ event.endDate|format_datetime }}
{#            (<a href="{{event|get_google_calendar_link}}" target="_blank" rel="nofollow">Добавить в Google календарь</a>)#}
      </div>
    </div>
    <hr>
  {% endfor %}
{% endblock %}