.articles {

}

.articles-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  text-decoration: none;
  color: inherit;
  background: var(--c-bg-accent);
  min-height: 180px;
  box-shadow: var(--shadow-main);
  border-radius: var(--radius);
  overflow: hidden;
  margin: 0 0 var(--gap);
  transition: var(--transition-m);

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__header {
    align-self: flex-start;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: var(--c-accent);
    }
  }

  &__img {
    overflow: hidden;
    background: var(--c-gray);
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-m);
  }

  &__img:hover img {
    transform: scale(1.05);
  }

  &__title {
    font-size: var(--font-xl);
    margin: 0 0 5px;
  }

  &__description {
    font-size: var(--font-xs);
  }

  &__tags {
    margin: 15px 0 0;
  }

  &__footer {
    font-size: .8em;
    color: #999;
    margin: auto 0 0 auto;
  }
}