.articles {

}

.articles-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  text-decoration: none;
  color: inherit;
  background: var(--c-bg-accent);
  min-height: 180px;
  box-shadow: var(--shadow-main);
  border-radius: var(--radius);
  overflow: hidden;
  margin: 0 0 var(--gap);
  transition: var(--transition-m);
}

.articles-item:last-child {
  margin-bottom: 0;
}

.articles-item__header {
  text-decoration: none;
  color: inherit;
}

.articles-item__header:hover {
  color: var(--c-accent);
}

.articles-item__img {
  overflow: hidden;
  background: var(--c-gray);
}

.articles-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-m);
}

.articles-item__img:hover img {
  transform: scale(1.05);
}

.articles-item__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.articles-item__title {
  font-size: var(--font-xl);
  margin: 0 0 5px;
}

.articles-item__description {
  font-size: var(--font-xs);
}

.articles-item__tags {
  margin: 15px 0 0;
}

.articles-item__footer {
  font-size: .8em;
  color: #999;
  margin: auto 0 0 auto;
}