.article {
  background: var(--c-bg-accent);
  width: 100%;
  max-width: 760px;
  margin: 0 auto;

  &:hover &-edit {
    transform: scale(1);
  }

  &__title {
    font-size: 2.2rem;
    line-height: 1.125;
    margin: 0;
  }

  &__header {
    position: relative;
    padding: 40px 60px 20px;
  }

  &__date {
    font-size: var(--font-xs);
    color: var(--c-text-secondary);
  }

  &__description {
    margin: 20px 0 0;
  }

  &__img {
    width: 100%;
  }

  &__content {
    padding: 20px 60px 40px;
  }
}

.article-controls {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 60px;
  background: inherit;
}

.articles-content__title {
  font-weight: 400;
  margin: 0 0 30px;
}

.articles-page {
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-gap: var(--gap);
  align-items: flex-start;
}

.articles-sidebar {
  position: sticky;
  top: 20px;
  display: grid;
  align-content: flex-start;
  grid-gap: var(--gap);
}

.article-tags {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid var(--c-border);
}

.article-edit {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: var(--font-xs);
  padding: 10px 15px;
  color: inherit;
  text-decoration: none;
  transition: var(--transition-f);
  transform: scale(0);

  &__icon {
    margin: 0 8px 0 0;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}