<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<meta name="robots" content="index, follow"/>
<meta name="language" content="Russian"/>

<title>
  {% if title %} {{ title }} | {% endif %} All events in one place ⛵
</title>

<meta name="description" content="NovaVovikov Blog"/>
<meta name="author" content="NovaVovikov"/>
<meta name="keywords" content="NovaVovikov blog"/>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Novavovikov"/>
<meta itemprop="description" content="NovaVovikov Blog"/>
<meta itemprop="image" content=""/>

<!-- Twitter Card data -->
<meta name="twitter:card" content="product"/>
<meta name="twitter:site" content="NovaVovikov"/>
<meta name="twitter:title" content="NovaVovikov blog"/>
<meta name="twitter:description" content="NovaVovikov Blog"/>
<meta name="twitter:creator" content="NovaVovikov"/>
<meta name="twitter:image" content=""/>

<!-- Open Graph data -->
<meta property="og:title" content="NovaVovikov blog"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="https://novavovikov.ru"/>
<meta property="og:image" content=""/>
<meta property="og:description" content="NovaVovikov Blog"/>
<meta property="og:site_name" content="NovaVovikov"/>

<!-- Application params -->
<meta name="msapplication-tooltip" content="NovaVovikov Blog"/>
<meta name="msapplication-starturl" content="https://novavovikov.ru/?pinned=true"/>
<meta name="msapplication-tap-highlight" content="no"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="application-name" content="NovaVovikov"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="apple-mobile-web-app-title" content="NovaVovikov"/>
<meta name="msapplication-TileColor" content="#0366d6"/>
<meta name="theme-color" content="#0366d6"/>


<link rel="icon" type="image/png" href="/assets/icons/logo.png">
<link rel="manifest" href="/assets/manifest.json"/>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css' ) }}"/>
