<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="header-section">
        <a href="/" class="logo">
          {% include 'assets/icons/logo.svg' %}
        </a>
        {% include 'includes/search.html' %}
      </div>

      <div class="header-section">
        <a href="/new" class="btn create-control">Написать статью</a>
        {% include 'includes/theme-control.html' %}
        {% include 'includes/nav.html' %}
      </div>
    </div>
  </div>
</header>